<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   Copyright 2012 James Phillpotts

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="Cucumber Editor"
            extensions="feature"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="potes.cucumberjvm.eclipseplugin.editors.CucumberEditor"
            id="potes.cucumberjvm.eclipseplugin.editors.CucumberEditor">
      </editor>
   </extension>

	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	          label="Cucumber Test"
	          icon="$nl$/icons/full/obj16/julaunch.gif"
	          helpContextId="org.eclipse.jdt.junit.launch_shortcut"
	          class="potes.cucumberjvm.eclipseplugin.launch.CucumberLaunchShortcut"
	          modes="run, debug"
	          id="potes.cucumberjvm.junitShortcut">
	       <contextualLaunch>
	          <enablement>
	             <with variable="selection">
	                <count value="1"/>
	                <iterate>
	                   <adapt type="org.eclipse.jdt.core.IJavaElement">
	                      <test property="org.eclipse.debug.ui.matchesPattern" value="*.feature"/>
	                      <test property="org.eclipse.jdt.core.isInJavaProject"/>
	                      <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
	                      <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="cucumber.junit.Cucumber"/>
	                   </adapt>
	                </iterate>
	             </with>
	          </enablement>
	       </contextualLaunch>
	       <configurationType id="potes.cucumberjvm.launching.cucumberTest"/>
	       <description description="%DebugJUnitLaunchShortcut.description" mode="debug"/>
	       <description description="%RunJUnitLaunchShortcut.description" mode="run"/>
	    </shortcut>
	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			name="Cucumber JVM Test"
			delegate="potes.cucumberjvm.eclipseplugin.launch.CucumberTestLaunchDelegate"
			modes="run, debug"               
			id="potes.cucumberjvm.launching.cucumberTest"> 
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="potes.cucumberjvm.launching.cucumberTest"
	        class="potes.cucumberjvm.eclipseplugin.launch.CucumberTabGroup"
	        id="potes.cucumberjvm.launching.cucumberTest.tabGroup">
	    </launchConfigurationTabGroup>
	</extension>
</plugin>
